*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #73585A;
}
.container{
    width: 1200px;
    margin: 0 auto;
    float: none;
}
img{
    width: 100%;
}
.section{
    float:left;
    width: 100%;
}
header{
    /*width: 100%;*/
    height: 60px;
    float: left;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
}
.top-link{
    width: 100%;
    float: left;
    border-bottom: 1px solid #FCF8ED;
}
.logo{
    max-width: 30%;
    float: left;
}
.logo img{
    width: 160px;
    height: 24px;
    margin: 16px 0 16px 70px;
}
.menu{
    max-width: 70%;
    float: left;
}
.main-menu{
    float: left;
    list-style: none;
    margin-left: 180px;
}
.main-menu>li{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 60px;
    position: relative;
}
.main-menu li a{
    color: #584345;
    text-decoration: none;
    transition: 400ms;
}
.main-menu li:hover>a{
    color: #E48288;
}
.main-menu li:hover{
    background-color: #f3f0f0;
    transition: 300ms;
}
.sub-menu{
    width: 100%;
    position: absolute;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 1px #e4e7e8;
    transition: 500ms;
    left: 0;
    display: none;
}
.sub-menu li{
    line-height: 45px;
    padding-left: 30px;
}
.main-menu li:hover .sub-menu{
    display: block;
    transition-delay: 500ms;
}
.main{
    /*width: 100%;*/
    float: left;
    background-color: #FFFFFF;
}
.content-top{
    width: 100%;
    float: left;
}
.content-top .silde-img img{
    width: 100%;
    float: left;
}
.content-top .content-silde{
    line-height: 1.5;
    float: left;
    margin-left: 100px;
    margin-top: -350px;
    font-family: 'Cormorant Garamond', serif;
}
.content-silde h3{
    font-size: 40px;
    font-weight: 500;
}
.content-silde h2{
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FCF8ED;
}
.content-silde p{
    font-size: 20px;
    background-color: #65A0C0;
    padding: 5px 10px;
    width: 120px;
    transition: 400ms;
    border-radius: 7%;
}
.content-silde p a{
    color: #DEE4D8;
    text-decoration: none;
}
.content-silde p:hover{
    background-color: #76ad62;
    text-decoration: underline;
}
.main-background{
    width: 100%;
    float: left;
    background-image: url("../imgs/imgs_home/main-bacground.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-background>h2{
    font-size: 20px;
    text-indent: 50px;
    text-transform: uppercase;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #73585A;
}
.list-product{
    width: 100%;
    float: left;
}
.list-product .product{
    width: 33.33%;
    float: left;
    padding: 15px 40px;
}
.product img{
    width: 100%;
    float: left;
}
.product h4{
    width: 100%;
    text-transform: uppercase;
    color: #73585A;
    font-size: 18px;
    line-height: 1.5;
    float: left;
    border-bottom: 1px solid;
    padding: 15px 0 3px 0;
}
.product p{
    width: 100%;
    line-height: 1.5;
    padding: 15px 0;
    float: left;
}
.product a{
    color: red;
    text-decoration: none;
}
.product a:hover{
    text-decoration: underline;
}
.introduce{
    width: 100%;
    float: left;
}
.introduce-1{
    width: 100%;
    float: left;
    padding: 10px;
}
.introduce-1-text{
    float: left;
    width: 30%;
    padding: 30px;
}
.introduce-1-text h2{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    font-family: 'Cormorant Garamond', serif;
}
.introduce-1-text p{
    padding: 15px 0 15px 10px;
    letter-spacing: 0.5px;
    line-height: 1.2;
}
.introduce-1-text span{
    padding: 5px 20px;
    background: #97C482;
    margin-left: 10px;
    border-radius: 5%
}
.introduce-1-text span a{
    color: #F2F2E8;
    text-decoration: none;
}
.introduce-1-img{
    width: 70%;
    float: left;
    padding: 35px;
}
.introduce-2{
    width: 100%;
    float: left;
    padding: 10px;
}
.introduce-2-text{
    float: right;
    width: 30%;
    padding: 30px;
}
.introduce-2-text h2{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    font-family: 'Cormorant Garamond', serif;
}
.introduce-2-text p{
    padding: 15px 0 15px 10px;
    letter-spacing: 0.5px;
    line-height: 1.2;
}
.introduce-2-text span{
    padding: 5px 20px;
    background: #97C482;
    margin-left: 10px;
    border-radius: 5%
}
.introduce-2-text span a{
    color: #F2F2E8;
    text-decoration: none;
}
.introduce-2-img{
    width: 70%;
    float: right;
    padding: 35px;
}
.main-contact{
    width: 100%;
    float: left;
}
.main-contact .contact{
    width: 50%;
    float: left;
    position: relative;
}
.main-contact .contact img{
    width: 100%;
    padding: 30px;
}
.main-contact .contact .contact-address{
    width: 60%;
    background-color: #F9FAF7;
    position: absolute;
    top: 184px;
    left: 114px;
    height: 40%;
}
.contact-address h3{
    padding-top: 25px;
    font-size: 25px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #718A66;
}
.contact-address h5{
    padding-left: 20px;
    font-size: 15px;
    margin-top: 13px;
}
.contact-address p{
    padding-left: 20px;
    padding-right: 40px;
}
.about-us{
    width: 50%;
    float: left;
    position: relative;
}
.about-us img{
    width: 100%;
    padding: 30px;
}
.about-us-introduce{
    width: 60%;
    background-color: #F9FAF7;
    position: absolute;
    top: 184px;
    left: 114px;
    height: 40%;
}
.about-us-introduce h3 {
    padding-top: 25px;
    font-size: 25px;
    font-weight: 400;
    padding-left: 20px;
    color: #718A66;
}
.about-us-introduce p{
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 15px;
    line-height: 1.5;
}
.share-with-friend{
    width: 100%;
    float: left;
    background-color: #F8F5EF;
    background-image: url("../imgs/imgs_home/background_2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.share-with-friend .content-share{
    width: 50%;
    float: left;
    padding: 10px 20px;
}
.share-with-friend .content-share h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
    color: #E48288;
}
.share-with-friend .content-share p{
    padding: 10px 30px 30px;
}
.sumbit-share{
    width: 50%;
    float: left;
}
.form-list{
    width: 50%;
    float: none;
    margin: 20px auto;
    padding: 0 10px;
}
.form-control{
    width: 100%;
    padding: 10px;
    margin: 10px ;
}
.sumbit-share button{
    background-color: #A4CB92;
    color: #F4F9F2;
    transition: 400ms;
}
.sumbit-share button:hover{
    background-color: #81ad6a;
}
.silde-img-buttom{
    width: 100%;
    float: left;
}
.silde-img-buttom img{
    width: 25%;
    float: left;
    padding: 30px 25px;
}
.background-footer{
    width: 100%;
    float: left;
    background-color: #faf9f8;
    background-image: url("../imgs/imgs_home/Footer_Backgroud.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    margin-bottom: 20px;
}
.footer-centrer{
    width: 45%;
    float: none;
    margin: 0 auto;
    padding: 30px;

}
.footer-center-top{
    width: 100%;
    float: left;
}
.footer-center-top h2{
    color: #7D9B6F;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    padding: 15px;
}
.footer-center-top p{
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
.form-footer{
    width: 100%;
    padding: 15px 0;
}
.form-footer input{
    width: 65%;
    float: left;
    padding: 8px;
    background-color: #F8F5EF;
    border: none;
    border-bottom: 3px solid #EFE9DC;
}
.form-footer button{
    width: 35%;
    float: left;
    padding: 9px;
    border: none;
    background-color: #E48288;
    color: #FCF8ED;
    border-radius: 5%;
}
.form-footer button:hover{
    background-color: #d57076;
}
.footer-center-buttom{
    width: 100%;
    float: left;
    padding: 35px 0;
}
nav.footer-link{
    width: 65%;
    float: left;
}
nav.footer-link ul{
    list-style: none;
}
nav.footer-link ul li{
    width: 33.33%;
    float: left;
    padding-top: 10px;
}
nav.footer-link ul li a{
    text-decoration: none;
    color: #556484;
}
nav.footer-link ul li:hover a{
    color: #E48288;
}
.icon-link-buttom{
    width: 35%;
    float: left;
}
.icon-link-buttom a{
    width: 25%;
    height: 15px;
}
.icon-link-buttom i{
    width: 20%;
    margin-right: 5px;
    margin-top: 6px;
    transition: 400ms;
    color: #34466D;
    font-size: 25px;
}
.icon-link-buttom i:hover{
    transform: scale(1.5);
}

/*--CSS about us--*/

.content-top .content-intro h2{
    color: #73585A;
    font-size:25px;
    font-weight:400;
    margin-left: 70px;
    margin-top: 65px

}
.content-top .content-intro h1{
    color: #E4737A;
    font-size: 40px;
    font-weight:500;
    margin-left: 240px;
    margin-top: 25px;

}
.content-top .content-body{
    /*width: 820px;*/
    margin-left: 210px;
}
.content-top .content-body img{
    margin: 60px 0 0;
}
.content-top .content-body p{
    float: left;
    /*width: 820px;*/
    line-height: 20px;
    margin-top: 45px;
}
.content-top .content-body h3{
    float:right;
    font-size:20px;
    font-weight:400;
    font-style: oblique;
    margin-top: 28px;
    margin-right: 20px;
}
.background img{
    float: left;
    width: 200px;
    margin-left: 10px;

}

.content-top .content-body01{
    /*width: 100%;*/
    margin-left: 190px;
    margin-bottom: 30px;
}

.content-top .content-body01 p{
    float: left;
    /*width: 820px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;

}
.row {
    content: "";
    clear: both;
    display: table;
}

.col-6 {
    float: left;
    width: 47%;
    margin-top: -120px

}
.col-4 {
    float: left;
    width: 40%;
    margin-left: 60px;
    margin-top: -120px;
}