*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.product-details{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.list-imgs{
    width: 10%;
    float: left;
    margin-top: 50px;
    margin-left: 200px;
}
.list-imgs ul{
    margin-top: 90px;
}
.list-imgs ul li{
    width: 100%;
    float: left;
    list-style: none;
}
.list-imgs ul li img{
    width: 50%;
}
.view-imgs{
    width: 35%;
    float: left;
    margin-top: 50px;
    margin-left: -40px;
}
.comformation-product{
    width: 35%;
    float: left;
    padding: 20px 30px;
    margin-top: 50px;
}
.comformation{
    width: 100%;
    float: left;
    margin-top: 65px;
    margin-bottom: 10px;
}
.comformation h3{
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 2.5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #A7BEB8;
    position: relative;
}
.comformation h3 span{
    text-transform: none;
    color: #E48288;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.comformation p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-bottom: 6px;
}
.select-pots{
    width: 100%;
    float: left;
}
.select-pots li{
    width: 20%;
    float: left;
    list-style: none;
    padding: 9px 10px;
    margin: 0 9px;
    background-color: #FFFDF8;
    border: 1px solid #E0D6BC;
}
.select-pots li:first-child{
    background-color: #A4CB92;
}
.select-pots li:first-child>a{
    color: #FAFCF9;
}
.select-pots li a{
    text-decoration: none;
    color: #73585A;
}
.select-pots li:hover{
    background-color: #A4CB92;
    transition: 300ms;
}
.select-pots li:hover>a{
    color: #FAFCF9;
}
.select-size{
    width: 100%;
    float: left;
    padding-top: 20px;
    position: relative;
}
.select-size li{
    list-style: none;
    width: 15%;
    float: left;
    padding: 5px 0;
    margin-right: 15px;
}
.select-size li p{
    width: 65%;
}
.select-size li a{
    text-decoration: none;
}
.select-size li:first-child p{
    border-bottom: 1px solid #E0D6BC;
}
.select-size li:hover p{
    border-bottom: 1px solid #E0D6BC;
}
.select-size>span{
    position: absolute;
    right: 10px;
    bottom: 7px;
}
.form-box{
    width: 100%;
    float: left;
    margin-top: 80px;
    text-align: center;
    padding: 10px 0;
    background-color: #A4CB92;
    border-radius: 1%;
}
.form-box:hover{
    background-color: #79af5e;
}
.form-box a{
    text-decoration: none;
    color: #FAFCF9;
}
.tutorial-tree{
    width: 100%;
    float: left;
    background-color: #F6F5F3;
    padding: 20px 70px;
    margin-top: 50px;
}
.tutorial-tree h3{
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 20px;
}
.steps{
    width: 33.3%;
    float: left;
    height: 120px;
    padding: 15px 30px;
    position: relative;
}
.steps i{
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 20px;
}
.steps h5{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.steps p{
    font-size: 13px;
    font-weight: 300;
    padding-left: 20px;
}
.main-background{
    margin-top: -50px;
}
.sale-product >h2>a{
    text-transform: none;
    color: #73585A;
    margin-left: 100px;
}
.sale-product >h2{
    border-bottom: 1px solid #73585A;
}